span {
  color: red;
  display: flex;
  justify-content: center;
}

.blueText {
  color: blue;
  display: flex;
  justify-content:
}

form {
  display: flex;
  justify-content: center;
}

nav {
  background-color: grey;
  height: 150px;
}
